@font-face {
	font-family:'Geomanist';
	src:local('Geomanist Book'),
		url('fonts/Geomanist-Book.woff2') format('woff2'),
		url('fonts/Geomanist-Book.woff') format('woff');
	font-display: swap;
	font-weight: 500;
}
@font-face {
	font-family:'Geomanist';
	src:local('Geomanist Medium'),
		url('fonts/Geomanist-Medium.woff2') format('woff2'),
		url('fonts/Geomanist-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 700;
}
@font-face {
	font-family:'Geomanist';
	src:local('Geomanist Bold'),
		url('fonts/Geomanist-Bold.woff2') format('woff2'),
		url('fonts/Geomanist-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 900;
}
@media screen {
	.hide { height: 1px; left: -1000px; overflow: hidden; position: absolute; top: -1px; width: 1px; }
	::selection { background-color: #333333; color: #f4f2d4; }
	footer p, footer a, header a > p, header > div, header > div > a {
		align-items: center; }
	section h2 > span {
		background-color: #b8eac8;
		border-radius: 0.5em;
		padding: 0.5em 0.75em; }
	body {
		-webkit-font-smoothing: antialiased;
		background-color: #f4f2d4;
		color: #333333;
		font-family: 'Geomanist', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
		font-size: 1.1em;
		padding: 0 2em; }
	section details > ul dd {
		background-color: #fbf8ef;
		clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
		padding: 1.5em 2.5em;
		margin: 1em 1.5em; }
	header img, header p, main article, section {
		background-color: #ffffff; }
	header > p a:hover, main article a:hover, header > p a:focus-visible, main article a:focus-visible {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 8'%3E%3Cpath d='M1 4 C20 1 30 7 50 4 S80 1 99 4' fill='none' stroke='%235123db' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: auto 7px;
		padding-bottom: 0.2em; }
	section details:not(:open) summary {
		border: 0.2em solid transparent; }
	section details[open] {
		border: 4px solid #cccccc;
		overflow: hidden; }
	section details summary::before, ul main a:hover {
		border-bottom: 2px solid currentColor; }
	section details a:hover {
		border-bottom: 2px solid #5123db; }
	section details[open] summary {
		border-bottom: 4px solid #cccccc; }
	footer a, header a > p, header img {
		border-color: transparent;
		border-style: solid;
		border-width: 0.2em; }
	footer a:hover, header a:hover > p, header a:hover img, section details:not(:open) summary:hover, section details:not(:open) summary:focus-visible, footer a:focus-visible, header a:focus-visible > p, header a:focus-visible img {
		border-color: #666666;
		box-shadow: 3px 3px 0 -1px #999999; }
	section details[open] summary:hover, section details[open] summary:focus-visible, section details[open]:has(> summary:hover), section details[open]:has(> summary:focus-visible) {
		border-color: #999999; }
	footer a:focus-visible, header a:focus-visible, section details > summary:focus-visible {
		outline: none; }
	section details[open] summary {
		border-color: #cccccc;
		box-shadow: none; }
	section img {
		border-radius: 1em;
		float: left;
		margin: auto 1.5em;
		shape-outside: margin-box; }
	footer a, header a > p, header img, header p, main article, section, section details[open], section details:not(:open) summary {
		border-radius: 2em; }
	header img {
		border-radius: 50%;
		display: block;
		height: 100px;
		margin-right: 2em;
		padding: 0.5em;
		width: 100px; }
	section details summary::before {
		border-right: 2px solid currentColor;
		height: 0.5em;
		left: 1.25em;
		position: absolute;
		top: 50%;
		transform: translateY(-70%) rotate(45deg);
		transition: transform 0.15s ease;
		width: 0.5em; }
	footer, header p, main article, section {
		box-sizing: border-box; }
	footer ul a, header > div > a {
		color: currentColor; }
	header p a, main article a, section details a, ul a {
		color: #5123db; }
	footer p:hover span:before, main article h2, section details summary em, ul em {
		color: #666666; }
	section details summary::before, section details summary::marker {
		content: ""; }
	footer p::before {
		content: '\00a9';
		padding-right: 0.5em; }
	footer p:hover span:before {
		content: '1998 - '; }
	footer p:hover span:before, footer p::before {
		cursor: text; }
	section details summary {
		cursor: pointer;
		font-size: 1.17em;
		padding: 0.5em 2em 0.5em 3em;
		position: relative; }
	details > dl, footer, footer a, footer p, footer ul, header > div, header > div > a, header a > p, section details > dl {
		display: flex; }
	section {
		display: flow-root; }
	section details summary::-webkit-details-marker {
		display: none; }
	details > dl dd, section details > dd {
		flex: 1 0 calc(100% - 7em); }
	details > dl dt, section details > dt {
		flex-basis: 7em; }
	footer {
		flex-direction: row-reverse; }
	details > dl, section details > dl {
		flex-wrap: wrap;
		margin: 1.5em 1em 1.5em 0; }
	.emoji {
		font-family: 'Twemoji Mozilla', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', 'EmojiOne Color', 'Android Emoji', sans-serif;
		user-select: none; }
	section h2 > span span {
		font-size: 0.67em; }
	header > p, header h2, main article {
		font-size: 1.5em; }
	header h1 {
		font-size: 3.8em;
		font-weight: 900;
		letter-spacing: 0.02em;
		text-shadow: #ffffff 0.075em 0.075em; }
	main article h2, section details summary em, ul em {
		font-style: normal; }
	section details > ul > li > dl > dt {
		font-weight: inherit; }
	details > dl dt, section details > dt, ul a {
		font-weight: 700; }
	header > div {
		gap: 2em; }
	details > ul sup svg {
		height: 16px;
		padding-left: unset;
		padding-right: unset;
		width: 16px; }
	details > ul svg, footer svg, header svg, section details > dl svg {
		height: 24px;
		width: 24px; }
	header > div:not(:has(> a:nth-of-type(2))) {
		justify-content: center; }
	footer, header > div {
		justify-content: space-between; }
	sup {
		line-height: 0;
		margin-left: 0.5em; }
	section details > ul dd, section details li li {
		line-height: 1.4; }
	header p, main article, section {
		line-height: 1.8em; }
	section details li {
		line-height: 2.5; }
	details > ul dl ul {
		list-style-type: disc; }
	footer ul, section details > ul, section details > ul > li > ul {
		list-style-type: none; }
	body, footer p, footer ul , header h1, header h2 {
		margin: unset; }
	header p, main article {
		margin: 0 auto; }
	main article * {
		margin: 0.5em 0; }
	section details p {
		margin: 1em 1.5em; }
	footer, header > div, section {
		margin: 3em auto; }
	section details:has(~ details) {
		margin-bottom: 1em; }
	section details > ul {
		margin-bottom: 1.2em;
		margin-top: 1.2em; }
	section details img {
		margin-bottom: 1.5em; }
	section h2 {
		margin-bottom: 1.25em;
		margin-top: unset; }
	details > dl dd, section details > dd, ul dd {
		margin-left: unset; }
	section details > dl svg {
		margin-left: calc(-24px - 1em - 1.5em); }
	details > ul svg, footer svg, header svg, section details > dl svg, section details > dl svg {
		margin-top: -0.1em;}
	section details:has(img) p {
		margin-top: 1.5em; }
	header a > p {
		max-width: 200px;
		white-space: nowrap; }
	footer, header > div, header > p, main article, section {
		max-width: 1200px; }
	header > p a:focus-visible, main article a:focus-visible, footer a:focus-visible, header a:focus-visible {
		outline: none; }
	footer a, header a > p {
		padding: 0.6em 1em 0.5em 1em; }
	header > p, main article, section {
		padding: 2em; }
	section details > dl > dt {
		padding-bottom: 0.5em; }
	section details > dl dd:not(:last-child) {
		padding-bottom: 1em; }
	footer ul, section details > ul {
		padding-left: 0; }
	footer p span {
		padding-left: 0.2em; }
	details > ul svg, section details > dl svg {
		padding-left: 1.5em;
		padding-right: 1em;
		vertical-align: middle; }
	section details > dd, section details > dl > dd, section details > dl > dt, section details > dt {
		padding-left: 3.5em; }
	footer svg, header svg {
		padding-right: 0.75em; }
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 1.5em; }
	main article, section h2 {
		text-align: center; }
	header > div > a, header p a, main article a, section details a, ul a {
		text-decoration: none; }
	footer a:hover, header a:hover > p, header a:hover img, footer a:focus-visible, header a:focus-visible > p, header a:focus-visible img {
		transform: scale(1.1); }
	section details[open] summary::before {
		transform: translateY(-30%) rotate(225deg); }
}
@media screen and (max-width: 1000px) {
	header h2, header > p {
		font-size: 1.17em; }
	header h1 {
		font-size: 2em; }
	header img {
		height: 75px;
		width: 75px; }
	header h2 {
		margin-top: 0.5em; }
}
@media screen and (max-width: 950px) {
	li > span::before, dt > span::before {
		content: "\A";
		white-space: pre; }
	footer {
		display: block; }
	footer p {
		justify-content: center;
		margin-top: 2em; }
	footer ul {
		justify-content: space-around; }
	section details > ul dd {
		margin: 1em 0; }
	section details > ul {
		padding: 0 1.5em; }
	section details > ul svg {
		padding-left: 0; }
}
@media screen and (max-width: 850px) {	
	header > p {
		border-radius: 0;
		line-height: 1.5;
		padding-left: 1em;
		padding-right: 1em;
		max-width: none; }
	header h2 span {
		display: block; }
	header > div {
		flex-direction: column; }
	header img {
		height: 100px;
		width: 100px; }
}
@media screen and (max-width: 750px) {
	section details > ul dd {
		background-color: unset;
		clip-path: none;
		margin-right: unset;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		padding-right: unset; }
	section details[open] {
		border: unset;
		overflow: visible; }
	section details[open] summary {
		border-color: transparent; }
	main article, section, footer, section details[open] summary {
		border-radius: 0; }
	section details[open] summary {
		border-bottom: 4px solid #cccccc;
		border-top: 4px solid #cccccc; }
	footer ul {
		flex-flow: wrap;
		gap: 1em; }
	section details summary, main article {
		font-size: 1em; }
	main article {
		line-height: 1.5; }
	section details p {
		margin: 1em 0; }
	section details[open] summary, section details > ul, section details > dl, section details p {
		margin-bottom: unset; }
	section img, section details > ul dd {
		margin-left: unset; }
	section details > dl {
		margin-right: unset; }
	main article, section, footer {
		max-width: none;
		padding-left: 1em;
		padding-right: 1em; }
	body, section details > ul dt, section details > ul, section details > ul > li > dl > dt {
		padding: unset; }
	section {
		padding-bottom: 1.5em; }
	details > ul svg, section details > ul dd, details ul ul, section details > dl > dd {
		padding-left: unset; }
	section details > dl svg {
		padding-left: 0.5em; }
	details > ul svg {
		padding-left: 0.75em; }
}
@media screen and (max-width: 550px) {
	header > div > a {
		flex-direction: column; }
	header img {
		height: 75px;
		margin-bottom: 2em;
		margin-right: 0;
		width: 75px; }
	h2 {
		text-align: center; }
}
@media screen and (max-width: 500px) {
	summary em::before {
		content: "";
		display: block; }
	summary span, dt > svg, li > svg {
		display: none; }
	details > dl dt {
		flex-basis: auto; }
	section details > dl {
		flex-direction: column; }
	section details img {
		float: none;
		margin-bottom: unset;
		margin-top: 1em; }
	body {
		font-size: 1em; }
	section details li {
		line-height: 1.2; }
	section details:has(img) p:first-of-type {
		margin-top: 0.5em; }
	section details > dl > dt {
		padding: unset; }
	section details li:not(:last-of-type) {
		padding-bottom: 1.5em; }
}
@media (prefers-color-scheme: dark) {
	body, section details > ul dd {
		background-color: #000000; }
	section, header img, header p {
		background-color: #383838; }
	header h1 {
		text-shadow: #383838 0.075em 0.075em; }
	header h1, header h2, header p, summary, footer, footer p:hover span::before, dt, ul em, details p, details li, dd {
		color: #dfdfdf; }
	header p a, section details summary em, section details a {
		color: #f5c344; }
	header p a:hover, section details a:hover {
		border-bottom-color: #f5c344; }
	header > p a:hover {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 8'%3E%3Cpath d='M1 4 C20 1 30 7 50 4 S80 1 99 4' fill='none' stroke='%23f5c344' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E"); }
	#icon-hire * {
		fill: #f4f2d4; }
	#icon-github path {
		fill: #ffffff; }
}
@media print {
	div a {
		align-items: center;
		display: flex;
		padding-bottom: 0.5em; }
	section img {
		border-radius: 1em;
		float: left;
		height: 125px;
		margin: auto 1.5em 1.5em auto;
		shape-outside: margin-box;
		width: 125px }
	img {
		break-inside: avoid;
		page-break-inside: avoid;
		max-height: 100vh; }
	header a, footer ul a, a[href^="mailto"]::after, header p a, section details a, details > dl dt {
		color: #000000; }
	main a[href^="http"]:first-of-type::after {
		color: #5123db;
		content: attr(href);
		display: block; }
	details > dl dt::after {
		content: ": "; }
	footer ul a::after {
		content: ": " attr(href); }
	a[href^="mailto"]::after {
		content: ": " attr(data-email); }
	details > dl dt, details > dl dd {
  		display: inline-block; }
	header div p, svg, sup, summary::marker, li > dl dd {
		display: none; }
	header a, footer ul a {
		display: normal; }
	body {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; }
	em {
		font-style: normal; }
	header a, footer ul a, header p a, section details a, details > dl dt {
		font-weight: bold;
		text-decoration: none; }
	main a[href^="http"]:first-of-type::after, footer ul a::after, em {
		font-weight: normal; }
	div img {
		height: 100px;
		width: 100px; }
	div h1, div h2 {
		line-height: 1.5;
		margin: 0; }
	details summary {
		list-style-type: none; }
	details > dl dd {
		margin-left: unset;
		vertical-align: top;
		width: calc(100% - 7.5em); }
	details > dl dt {
  		width: 7.5em; }
}
@media (prefers-reduced-motion: reduce), (update: slow) {
	*:not(.safe-animation),
	*:not(.safe-animation)::before,
	*:not(.safe-animation)::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: -1ms !important;
		transition-duration: 1ms !important; }
}